.vscode/
.ipynb_checkpoints/
.DS_Store
*.npy
*.avi
*.skeleton
mfas/experiments/
mfas/checkpoints/
*.pyc
darts/data/
dfaf/logs/
BM-NAS_dataset
checkpoints
old/
index/
main_darts_found_ego.py
main_darts_found_extreme_simple_concat_attn_ntu.py
main_darts_found_extreme_simple_concat_ntu.py
main_darts_found_mmimdb.py
main_darts_found_ntu_ablation.py
# main_darts_found_ntu.py
main_darts_searchable_ego.py
main_darts_searchable_mmimdb.py
# main_darts_searchable_ntu.py
main_darts_searchable_nvgesture.py
paper_plot.ipynb
# README.md
statistics.ipynb
test_node_found.ipynb
test_node_search.ipynb
test_nvgesture_main.ipynb
README_old.md